---
const {
  title = "Julian Peter Gerona",
  author = "Julian Peter Gerona",
  description = "Julian Peter Gerona's Portfolio",
  url = "https://jp-gerona.github.io",
  image = "https://jp-gerona.github.io/og-image.png",
} = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="author" content={author} />
<meta name="generator" content={Astro.generator} />

<script defer src="https://cloud.umami.is/script.js" data-website-id="2f03f3d4-a6a6-4544-b56f-a7c32cf5ec7a"></script>

<title>{title}</title>
<meta name="description" content={description} />

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:image" content={image} />
